*{
	font-family: 'Ubuntu', sans-serif;
}

.grid-container {
	width: 100%;
	height: 140vh;
	background-image: linear-gradient(170deg, rgb(182, 33, 254), #1fd1f9);
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 20px;
 	
}
.gart{
	background-color: rgb(197, 163, 255);
	text-align: center;
	padding: 200px 100px;
	font-size: 100px;
	color: rgb(125, 102, 125);
}
.forum{
    width: 45%;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

}
.forum u{
    width: 100%;
    color: #333333;
    font-weight: bold;
    text-align: center;
}
.forum h1{
    text-align: center;
}

.textbox input {
    width: 100%;
    outline:none ;
    border: none;
    border-radius: 50px;
    padding-bottom: 15px;
    background-color: rgba(0, 0, 0, 0.15);
    font-size: 20px;
    cursor: pointer;
    padding-left: 20px;
    padding-top: 15px;
}   

.forum button {
	width: 90%;
    border-radius: 50px;
    padding: 12px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500px;
    cursor: pointer;
    color: white;
    background-image: linear-gradient(150deg, #b621fe, #1fd1f9);
}
button:hover {
  background-color: rgb(182, 33, 254);
  color: white;
}
.b{
	text-align: center;
	margin-top: 20px;
}
.u{
	color: rgb(125, 102, 125);
    font-size: 20px;
    text-align: center;
}
@media only screen and (max-width: 600px){
    .textbox input{
        font-size: 15px;
        padding: 5px 10px; 
    }
    .grid-container {
    width: 100%;
    min-height: 100vh;
    }
    .forum{
        top: 75%;
    }
    .forum button {
    width: 70%;
    border-radius: 50px;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 400px;
    cursor: pointer;
    color: white;
    background-image: linear-gradient(150deg, #b621fe, #1fd1f9);
}
    .contact-heading{
        font-size: 30px;
    }
}